.mgtDiv .mgtFrm .qryCrseRecsDiv {
    width: 99.6%;
    height: 83%;
    border: 2px solid #d8dee4;
    background-color: #f6f8fa;
    border-radius: 7px;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv .qryRecsLstTbl {
    width: 100%;
    text-align: center;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv .qryRecsLstTbl th {
    font-size: 1.2em;
    color: #ffffff;
    background-color: #2c974b;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv .qryRecsLstTbl td {
    font-size: 1.1em;
    color: #000000;
    background-color: #8bcc9e;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv .qryRecsLstTbl a {
    text-decoration: none;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv .qryRecsLstTbl .crseDetlAnchor {
    color: #0000ee;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv #currCrseInfoTbl {
    border-spacing: 10px;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv #currCrseInfoTbl img {
    width: 375px;
    height: 250px;
    position: relative;
    padding: 0px;
    margin: 0px auto;
    border-radius: 7px;
    border: 3px solid #298545;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv #currCrseInfoTbl label {
    font-size: 1.3em;
    color: #2c974b;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv #currCrseInfoTbl a {
    font-size: 1.3em;
    text-decoration: none;
    font-weight: bold;
    color: #2c974b;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv #currCrseInfoTbl a:hover {
    color: #58c473;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv #currCrseInfoTbl #updtCover,
.mgtDiv .mgtFrm .qryCrseRecsDiv #currCrseInfoTbl #regCrseBtn {
    width: 100%;
    height: 36px;
    font-size: 1.2em;
    color: #ffffff;
    border-radius: 7px;
    background-color: #2c974b;
    border: 2px solid #298545;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv #currCrseInfoTbl #updtCover:hover,
.mgtDiv .mgtFrm .qryCrseRecsDiv #currCrseInfoTbl #regCrseBtn:hover {
    cursor: pointer;
    background-color: #278b44;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv #currCrseInfoTbl #crseName,
.mgtDiv .mgtFrm .qryCrseRecsDiv #currCrseInfoTbl #usrName {
    float: right;
    width: 270px;
    height: 30px;
    outline: none;
    font-size: 1.2em;
    border: 2px solid #d8dee4;
    border-radius: 7px;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv #currCrseInfoTbl #crseDesc {
    float: right;
    font-size: 1.3em;
    width: 270px;
    height: 80px;
    resize: none;
    outline: none;
    overflow-y: scroll;
    border: 2px solid #d8dee4;
    border-radius: 7px;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv #currCrseInfoTbl #editCrseInfoBtn {
    visibility: visible;
    float: left;
    width: 100%;
    height: 36px;
    font-size: 1.2em;
    color: #ffffff;
    border-radius: 7px;
    background-color: #2c974b;
    border: 2px solid #298545;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv #currCrseInfoTbl #editCrseInfoBtn:hover {
    cursor: pointer;
    background-color: #278b44;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv #currCrseInfoTbl #cnlEditCrseInfoBtn {
    visibility: hidden;
    width: 60px;
    height: 36px;
    margin-right: 10px;
    font-size: 1.2em;
    color: #2c974b;
    border-radius: 7px;
    background-color: #ffffff;
    border: 2px solid #298545;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv #currCrseInfoTbl #cnlEditCrseInfoBtn:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv #currCrseInfoTbl #updtCrseInfoBtn {
    visibility: hidden;
    width: 60px;
    height: 36px;
    font-size: 1.2em;
    color: #ffffff;
    border-radius: 7px;
    background-color: #2c974b;
    border: 2px solid #298545;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv #currCrseInfoTbl #updtCrseInfoBtn:hover {
    cursor: pointer;
    background-color: #278b44;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv #crseStdRecsDiv {
    overflow-y: scroll;
    overflow-x: scroll;
    border-radius: 7px;
    background-color: #f6f8fa;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv #crseStdRecsDiv #crseStdRecsTbl {
    width: 100%;
    text-align: center;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv #crseStdRecsDiv #crseStdRecsTbl th {
    font-size: 1.2em;
    color: #ffffff;
    background-color: #2c974b;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv #crseStdRecsDiv #crseStdRecsTbl td {
    font-size: 1.1em;
    color: #000000;
    background-color: #8bcc9e;
}

.mgtDiv .mgtFrm .qryCrseRecsDiv #crseStdRecsDiv #crseStdRecsTbl a {
    text-decoration: none;
    color: #0000ee;
}