#secInfo-CqtTips {
    position: relative;
    padding: 5px 0;
    margin: 0px auto;
    top: 80px;
    width: 380px;
    text-align: center;
    visibility: hidden;
    border-radius: 7px;
    background-color: #9ef39c;
    border: 2px solid #298545;
    z-index: 10;
}

#secInfo-CqtTips span {
    font-size: 1.1em;
    color: #298545;
}

.secInfo-UpdtDiv {
    position: relative;
    padding: 0px;
    margin: 0px auto;
    top: 100px;
    width: 380px;
    height: 290px;
    border-radius: 7px;
    border: 2px solid #d8dee4;
    background-color: #f6f8fa;
    visibility: visible;
    z-index: 10;
}

.secInfo-UpdtDiv .secInfo-UpdtFrm {
    position: absolute;
    padding: 0px;
    margin: 0 auto;
    width: 380px;
    height: 290px;
}

.secInfo-UpdtDiv .secInfo-UpdtFrm .secInfo-UpdtTbl {
    position: relative;
    padding: 0;
    margin: 10px auto;
    text-align: center;
    border-spacing: 15px;
}

.secInfo-UpdtDiv .secInfo-UpdtFrm .secInfo-UpdtTbl th span {
    font-size: 1.3em;
}

.secInfo-UpdtDiv .secInfo-UpdtFrm .secInfo-UpdtTbl label {
    font-size: 1.3em;
}

.secInfo-UpdtDiv .secInfo-UpdtFrm .secInfo-UpdtTbl .secInfo-Input::-webkit-input-placeholder {
    color: #999b9e;
    text-align: center;
}

.secInfo-UpdtDiv .secInfo-UpdtFrm .secInfo-UpdtTbl .secInfo-Input {
    width: 270px;
    height: 30px;
    outline: none;
    font-size: 1.3em;
    border: 2px solid #d8dee4;
    border-radius: 7px;
}

.secInfo-UpdtDiv .secInfo-UpdtFrm .secInfo-UpdtTbl .cnlUpdtBtn {
    float: left;
    width: 80px;
    height: 36px;
    font-size: 1.2em;
    color: #2c974b;
    border-radius: 7px;
    background-color: #ffffff;
    border: 2px solid #298545;
}

.secInfo-UpdtDiv .secInfo-UpdtFrm .secInfo-UpdtTbl .cnlUpdtBtn:hover {
    float: left;
    width: 80px;
    height: 36px;
    cursor: pointer;
    font-size: 1.2em;
    color: #2c974b;
    border-radius: 7px;
    background-color: #f5f5f5;
    border: 2px solid #298545;
}

.secInfo-UpdtDiv .secInfo-UpdtFrm .secInfo-UpdtTbl .contBtn {
    float: right;
    width: 80px;
    height: 36px;
    font-size: 1.2em;
    color: #ffffff;
    border-radius: 7px;
    background-color: #2c974b;
    border: 2px solid #298545;
}

.secInfo-UpdtDiv .secInfo-UpdtFrm .secInfo-UpdtTbl .contBtn:hover {
    float: right;
    width: 80px;
    height: 36px;
    cursor: pointer;
    font-size: 1.2em;
    color: #ffffff;
    border-radius: 7px;
    background-color: #278b44;
    border: 2px solid #298545;
}

#secInfo-ErrTips {
    position: relative;
    padding: 5px 0;
    margin: 0px auto;
    top: 120px;
    width: 380px;
    text-align: center;
    visibility: hidden;
    border-radius: 7px;
    background-color: #ffe8e6;
    border: 2px solid #db2828;
    /* visibility: visible; */
    z-index: 10;
}

#secInfo-ErrTips span {
    font-size: 1.1em;
    color: #db2828;
}

#addRecDiv input::-webkit-input-placeholder {
    color: #999b9e;
    text-align: center;
}

#addRecDiv {
    position: relative;
    padding: 0px;
    margin: 0px auto;
    top: 60px;
    width: 475px;
    height: 455px;
    border-radius: 7px;
    border: 2px solid #d8dee4;
    background-color: #f6f8fa;
    z-index: 10;
}

#addRecDiv #addRecFrm {
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    width: 475px;
    height: 455px;
}

#addRecDiv #addRecFrm #addRecTbl {
    position: relative;
    padding: 0px;
    margin: 10px auto;
    width: 100%;
    text-align: center;
    border-spacing: 15px;
}

#addRecDiv #addRecFrm #addRecTbl span {
    font-size: 1.5em;
    font-weight: bold;
    color: #2c974b;
}

#addRecDiv #addRecFrm #addRecTbl label {
    float: left;
    font-size: 1.3em;
}

#addRecDiv #addRecFrm #addRecTbl #usrID,
#addRecDiv #addRecFrm #addRecTbl #usrName,
#addRecDiv #addRecFrm #addRecTbl #usrEmail {
    float: right;
    width: 270px;
    height: 30px;
    outline: none;
    font-size: 1.3em;
    border: 2px solid #d8dee4;
    border-radius: 7px;
}

#addRecDiv #addRecFrm #addRecTbl #usrGen,
#addRecDiv #addRecFrm #addRecTbl #usrAdms {
    float: right;
    width: 139px;
    height: 36px;
    outline: none;
    font-size: 1.3em;
    border: 2px solid #d8dee4;
    border-radius: 7px;
}

#addRecDiv #addRecFrm #addRecTbl #mjrAbrv {
    float: right;
    width: 278px;
    height: 36px;
    outline: none;
    font-size: 1.3em;
    border: 2px solid #d8dee4;
    border-radius: 7px;
}

#addRecDiv #addRecFrm #addRecTbl .cnlBtn {
    float: left;
    width: 120px;
    height: 36px;
    font-size: 1.2em;
    color: #ffffff;
    border-radius: 7px;
    background-color: #2c974b;
    border: 2px solid #298545;
}

#addRecDiv #addRecFrm #addRecTbl .cnlBtn:hover {
    cursor: pointer;
    background-color: #278b44;
}

#addRecDiv #addRecFrm #addRecTbl #addNewRecBtn {
    float: right;
    width: 120px;
    height: 36px;
    font-size: 1.2em;
    color: #ffffff;
    border-radius: 7px;
    background-color: #2c974b;
    border: 2px solid #298545;
}

#addRecDiv #addRecFrm #addRecTbl #addNewRecBtn:hover {
    cursor: pointer;
    background-color: #278b44;
}

.usrMgtPopupTips {
    position: relative;
    padding: 5px 0;
    margin: 80px auto;
    width: 475px;
    text-align: center;
    visibility: hidden;
    border-radius: 7px;
    background-color: #ffe8e6;
    border: 2px solid #db2828;
    z-index: 10;
}

.usrMgtPopupTips span {
    font-size: 1.1em;
    color: #db2828;
}

#impRecsDiv,
#impCrseRecsDiv {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    top: 125px;
    width: 450px;
    height: 220px;
    border-radius: 7px;
    border: 2px solid #d8dee4;
    background-color: #f6f8fa;
    z-index: 10;
}

#impRecsDiv #impRecsFrm,
#impCrseRecsDiv #impCrseRecsFrm {
    position: absolute;
    padding: 0px;
    margin: 0 auto;
    width: 450px;
    height: 220px;
}

#impRecsDiv #impRecsFrm #impRecsTbl,
#impCrseRecsDiv #impCrseRecsFrm #impCrseRecsTbl {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    width: 100%;
    border-spacing: 15px;
}

#impRecsDiv #impRecsFrm #impRecsTbl th,
#impCrseRecsDiv #impCrseRecsFrm #impCrseRecsTbl th {
    font-size: 1.5em;
    font-weight: bold;
    color: #2c974b;
}

#impRecsDiv #impRecsFrm #impRecsTbl a,
#impCrseRecsDiv #impCrseRecsFrm #impCrseRecsTbl a {
    text-decoration: none;
    font-size: 0.8em;
    color: #2c974b;
}

#impRecsDiv #impRecsFrm #impRecsTbl a:hover,
#impCrseRecsDiv #impCrseRecsFrm #impCrseRecsTbl a:hover {
    color: #58c473;
}

#impRecsDiv #impRecsFrm #impRecsTbl label,
#impCrseRecsDiv #impCrseRecsFrm #impCrseRecsTbl label {
    font-size: 1.3em;
    color: #2c974b;
}

#impRecsDiv #impRecsFrm #impRecsTbl .cnlBtn,
#impCrseRecsDiv #impCrseRecsFrm #impCrseRecsTbl .cnlBtn {
    float: left;
    width: 120px;
    height: 36px;
    font-size: 1.2em;
    color: #ffffff;
    border-radius: 7px;
    background-color: #2c974b;
    border: 2px solid #298545;
}

#impRecsDiv #impRecsFrm #impRecsTbl .cnlBtn:hover,
#impCrseRecsDiv #impCrseRecsFrm #impCrseRecsTbl .cnlBtn:hover {
    cursor: pointer;
    background-color: #278b44;
}

#impRecsDiv #impRecsFrm #impRecsTbl .impNewRecsBtn,
#impCrseRecsDiv #impCrseRecsFrm #impCrseRecsTbl .impNewRecsBtn {
    float: right;
    width: 120px;
    height: 36px;
    font-size: 1.2em;
    color: #ffffff;
    border-radius: 7px;
    background-color: #2c974b;
    border: 2px solid #298545;
}

#impRecsDiv #impRecsFrm #impRecsTbl .impNewRecsBtn:hover,
#impCrseRecsDiv #impCrseRecsFrm #impCrseRecsTbl .impNewRecsBtn:hover {
    cursor: pointer;
    background-color: #278b44;
}

#updtAvatarDiv,
#updtMyAvatarDiv,
#updtCoverDiv {
    position: relative;
    padding: 0px;
    margin: 0px auto;
    top: 100px;
    width: 475px;
    height: 220px;
    border-radius: 7px;
    border: 2px solid #d8dee4;
    background-color: #f6f8fa;
    z-index: 10;
}

#updtAvatarDiv #updtAvatarFrm,
#updtMyAvatarDiv #updtMyAvatarFrm,
#updtCoverDiv #updtCoverFrm {
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    width: 475px;
    height: 220px;
}

#updtAvatarDiv #updtAvatarFrm #updtAvatarTbl,
#updtMyAvatarDiv #updtMyAvatarFrm #updtMyAvatarTbl,
#updtCoverDiv #updtCoverFrm #updtCoverTbl {
    position: relative;
    padding: 0px;
    margin: 10px auto;
    width: 90%;
    text-align: center;
    border-spacing: 20px;
}

#updtAvatarDiv #updtAvatarFrm #updtAvatarTbl th,
#updtMyAvatarDiv #updtMyAvatarFrm #updtMyAvatarTbl th,
#updtCoverDiv #updtCoverFrm #updtCoverTbl th {
    font-size: 1.5em;
    font-weight: bold;
    color: #2c974b;
}

#updtAvatarDiv #updtAvatarFrm #updtAvatarTbl label,
#updtMyAvatarDiv #updtMyAvatarFrm #updtMyAvatarTbl label,
#updtCoverDiv #updtCoverFrm #updtCoverTbl label {
    float: left;
    font-size: 1.3em;
    color: #2c974b;
}

#updtAvatarDiv #updtAvatarFrm #updtAvatarTbl #cnlUpdtAvatarBtn,
#updtMyAvatarDiv #updtMyAvatarFrm #updtMyAvatarTbl #cnlUpdtMyAvatarBtn,
#addCrseRecDiv #addCrseRecFrm #addCrseRecTbl .cnlBtn,
#updtCoverDiv #updtCoverFrm #updtCoverTbl #cnlUpdtCoverBtn,
#addMSRecDiv #addMSRecFrm #addMSRecTbl #cnlAddNewMSBtn {
    float: left;
    width: 120px;
    height: 36px;
    font-size: 1.2em;
    color: #ffffff;
    border-radius: 7px;
    background-color: #2c974b;
    border: 2px solid #298545;
}

#updtAvatarDiv #updtAvatarFrm #updtAvatarTbl #cnlUpdtAvatarBtn:hover,
#updtMyAvatarDiv #updtMyAvatarFrm #updtMyAvatarTbl #cnlUpdtMyAvatarBtn:hover,
#addCrseRecDiv #addCrseRecFrm #addCrseRecTbl .cnlBtn:hover,
#updtCoverDiv #updtCoverFrm #updtCoverTbl #cnlUpdtCoverBtn:hover,
#addMSRecDiv #addMSRecFrm #addMSRecTbl #cnlAddNewMSBtn:hover {
    cursor: pointer;
    background-color: #278b44;
}

#updtAvatarDiv #updtAvatarFrm #updtAvatarTbl #updtAvatarBtn,
#updtMyAvatarDiv #updtMyAvatarFrm #updtMyAvatarTbl #updtMyAvatarBtn,
#addCrseRecDiv #addCrseRecFrm #addCrseRecTbl #addNewRecBtn,
#updtCoverDiv #updtCoverFrm #updtCoverTbl #updtCoverBtn,
#addMSRecDiv #addMSRecFrm #addMSRecTbl #addNewRecBtn {
    float: right;
    width: 120px;
    height: 36px;
    font-size: 1.2em;
    color: #ffffff;
    border-radius: 7px;
    background-color: #2c974b;
    border: 2px solid #298545;
}

#updtAvatarDiv #updtAvatarFrm #updtAvatarTbl #updtAvatarBtn:hover,
#updtMyAvatarDiv #updtMyAvatarFrm #updtMyAvatarTbl #updtMyAvatarBtn:hover,
#addCrseRecDiv #addCrseRecFrm #addCrseRecTbl #addNewRecBtn:hover,
#updtCoverDiv #updtCoverFrm #updtCoverTbl #updtCoverBtn:hover,
#addMSRecDiv #addMSRecFrm #addMSRecTbl #addNewRecBtn:hover {
    cursor: pointer;
    background-color: #278b44;
}

#addCrseRecDiv {
    position: relative;
    padding: 0px;
    margin: 0px auto;
    top: 100px;
    width: 475px;
    height: 345px;
    border-radius: 7px;
    border: 2px solid #d8dee4;
    background-color: #f6f8fa;
    z-index: 10;
}

#addCrseRecDiv #addCrseRecFrm {
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    width: 475px;
    height: 345px;
}

#addCrseRecDiv #addCrseRecFrm #addCrseRecTbl {
    position: relative;
    padding: 0px;
    margin: 10px auto;
    width: 90%;
    text-align: center;
    border-spacing: 15px;
}

#addCrseRecDiv #addCrseRecFrm #addCrseRecTbl th {
    font-size: 1.5em;
    font-weight: bold;
    color: #2c974b;
}

#addCrseRecDiv #addCrseRecFrm #addCrseRecTbl label {
    float: left;
    font-size: 1.3em;
    color: #2c974b;
}

#addCrseRecDiv #addCrseRecFrm #addCrseRecTbl #crseName {
    float: right;
    width: 270px;
    height: 30px;
    outline: none;
    font-size: 1.3em;
    border: 2px solid #d8dee4;
    border-radius: 7px;
}

.textareaPopup,
#addMSRecDiv #addMSRecFrm #addMSRecTbl #msDesc {
    float: right;
    font-size: 1.3em;
    width: 270px;
    height: 80px;
    resize: none;
    outline: none;
    overflow-y: scroll;
    border: 2px solid #d8dee4;
    border-radius: 7px;
}

#addMSRecDiv {
    position: relative;
    padding: 0px;
    margin: 0px auto;
    top: 60px;
    width: 475px;
    height: 350px;
    border-radius: 7px;
    border: 2px solid #d8dee4;
    background-color: #f6f8fa;
    z-index: 10;
}

#addMSRecDiv #addMSRecFrm {
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    width: 475px;
    height: 350px;
}

#addMSRecDiv #addMSRecFrm #addMSRecTbl {
    position: relative;
    padding: 0px;
    margin: 10px auto;
    width: 90%;
    text-align: center;
    border-spacing: 15px;
}

#addMSRecDiv #addMSRecFrm #addMSRecTbl th {
    font-size: 1.5em;
    color: #2c974b;
    font-weight: bold;
}

#addMSRecDiv #addMSRecFrm #addMSRecTbl label {
    float: left;
    color: #2c974b;
    font-size: 1.3em;
}

#addMSRecDiv #addMSRecFrm #addMSRecTbl #msName {
    float: right;
    width: 270px;
    height: 30px;
    outline: none;
    font-size: 1.3em;
    border: 2px solid #d8dee4;
    border-radius: 7px;
}

#createGrpDiv {
    position: relative;
    padding: 0px;
    margin: 0px auto;
    top: 95px;
    width: 850px;
    height: 500px;
    border-radius: 7px;
    border: 2px solid #d8dee4;
    background-color: #f6f8fa;
    z-index: 10;
}

#createGrpDiv #createGrpFrm {
    position: absolute;
    padding: 0px;
    margin: 0 auto;
    width: 850px;
    height: 500px;
}

#createGrpDiv #createGrpFrm #createGrpTbl {
    position: relative;
    padding: 0px;
    margin: 10px auto;
    width: 100%;
    text-align: center;
    border-spacing: 15px;
}

#createGrpDiv #createGrpFrm #createGrpTbl th {
    font-size: 1.5em;
    font-weight: bold;
    color: #2c974b;
}

#createGrpDiv #createGrpFrm #createGrpTbl label {
    font-size: 1.3em;
    color: #2c974b;
}

#createGrpDiv #createGrpFrm #createGrpTbl #ptyName,
#createGrpDiv #createGrpFrm #createGrpTbl .leader,
#createGrpDiv #createGrpFrm #createGrpTbl .mbrResp {
    width: 270px;
    height: 30px;
    outline: none;
    font-size: 1.3em;
    border: 2px solid #d8dee4;
    border-radius: 7px;
}

#createGrpDiv #createGrpFrm #createGrpTbl .mbrID {
    width: 278px;
    height: 36px;
    outline: none;
    font-size: 1.3em;
    border: 2px solid #d8dee4;
    border-radius: 7px;
}

#createGrpDiv #createGrpFrm #createGrpTbl #cnlCreGrpBtn,
#createGrpDiv #createGrpFrm #createGrpTbl #creGrpBtn {
    width: 278px;
    height: 36px;
    font-size: 1.2em;
    color: #ffffff;
    border-radius: 7px;
    background-color: #2c974b;
    border: 2px solid #298545;
}

#createGrpDiv #createGrpFrm #createGrpTbl #cnlCreGrpBtn:hover,
#createGrpDiv #createGrpFrm #createGrpTbl #creGrpBtn:hover {
    cursor: pointer;
    background-color: #278b44;
}